/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: #000;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
a{
    text-decoration: none;
    color: #fff;
}

/* Utils */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.btn-white{
    color: #000;
    background-color: #fff;
}
.btn-black{
    color: #fff;
    background-color: #000;
}
.small-btn{
    padding: 10px 15px;
    border-radius: 20px;
}
.big-btn{
    padding: 15px 20px;
    border-radius: 30px;
}

/* Header */

.topnav{
    height: 80px;
    background-color: #255ee9;
}
.nav-bar{
    position: relative;
}
#logo{
    float: left;
    height: 80px;
}
#logo a,
#logo a img{
    line-height: 80px;
    vertical-align: middle;
}
.main-menu{
    height: 80px;
    margin: 0 20%;
    text-align: center;
}
.main-menu ul li{
    color: #fff;
    margin: 0 20px;
    line-height: 80px;
    vertical-align: middle;
    display: inline-block;
}
.nav-bar .btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}


.jumbo-hero{
    position: relative;
    height: 550px;
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
}
#hero{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}
.hero-text{
    padding: 40px;
    padding-top: 0;
    color: #fff;
}
.hero-text h1{
    font-size: 3.5rem;
    margin-bottom: 40px;
}

.hero-btn a{
    margin: 0 10px;
}
.hero-btn a i{
    margin-right: 10px;
}
/* Main */

.main-text h2{
    font-size: 3.5rem;
    margin-bottom: 40px;
}
.main-text p{
    font-size: 1.2rem;
}
.bg-grey{
    background-color: #f6f6f6;
}
.w-60{
    width: 60%;
}
.w-40{
    width: 40%;
}
.float-left{
    float: left;
}


/* Footer */

